# Ignorar mvnw y mvnw.cmd
mvnw
mvnw.cmd

# Ignorar la carpeta .mvn/wrapper excepto el maven-wrapper.jar
.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar

# Ignorar las carpetas target excepto las ubicadas en src/main/ y src/test/
target/
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/
